.card {
    max-width: 345px;
}

.card:hover {
    transform: translateY(-0.3rem);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.media {
    height: 200px;
}

.header {
    margin: 0.5rem 0;
    min-height: 2.5rem
}

.chip {
    margin: 0.4rem 0.4rem 0 0;
    max-width: 100%;
}

.goldenColor {
    color: #F5A623;
}

.ratingAvatar {
    border-radius: 50%;
    /* background-color: #F5A623; */
    background-color: #F51464;
    color: #fff !important;
    font-size: 1em;
    padding: 0.55rem 0.6rem 0.5rem 0.45rem;
    max-width: 1rem;
    margin-left: -1px !important;
}